
.App {
  background-color: black;
  height: 100%;
  position: relative;
}

#footer {
  background-color: rgba(0, 0, 0, .8);
  bottom: 0;
  color: white;
  font-size: 12px;
  justify-content: center;
  padding: 4px;
  position: fixed;
  margin: 0 auto !important;
  z-index: 3;
  width: 100vw;
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: black;
}

#bg{
  position: absolute;
  width: 100vw;
  z-index: 0;
}

.brand-name {
  color: #9191bc;
  font-weight: bold;
  opacity: 70%;
  text-shadow:white 1px 1px;
}


#navbarItems, .navbar-start {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}

a.navbar-item:hover {
  background-color: none;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #8080ad !important;
  cursor:pointer;
}

.nav-link:visited {
  color: #fff !important;
}

.nav-link:visited:hover {
  color: #8080ad !important;
}

.directions {
  margin-left: 10%;
  font-size: 24px;
}

.directions ul {
  margin-left: 3%;
}

.directions ul li::marker {
  content:"➡️"
}

.welcome {
  font-size: 96px;
  font-weight: bold;
  margin: 5%;
  text-align: right;
  z-index: 1;
}

.welcome-p {
  font-size: 32px;
  margin: 0 100px 0px 100px;
  z-index: 1;
}

.welcome-p-area {
  background-color: rgba(0, 0, 0, .5);
  padding: 50px;
  z-index: 1;
}

@media only screen and (max-width: 820px) {

.App-header {
  min-height: 50vh;
}

  .welcome {
    font-size: 36px;
    text-align: center;
  }

  .welcome-p {
    font-size: 18px;
    margin: 0 24px;
  }

  .welcome-p-area {
    padding: 10px;
  }
}
