.Messages {
    z-index:2;
}

.message {
    z-index: 2;
    position: relative;
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin-top: 50px;
    text-align: center;
    text-shadow: 3px 3px #8080ad;
}

@media only screen and (max-width: 820px) {
    .message {
      font-size: 40px;
    }
  }