body {
  margin: 0;
  font-family: 'Ubuntu',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: auto;
}

.link {
  color: #8080ad !important;
}

.link:hover {
  color: #585888 !important;
  cursor:pointer;
}

.link:visited {
  color: #6f8c9c !important;
}

.link:visited:hover {
  color: #585888 !important;
}